/* Cores da página */
:root {
    --color-one:#ffffff;
    --color-two:#000;
    --color-tree:#0d5c1e;
    --color-five:#d9dbda;
    --color-six:rgba(41, 40, 40, 0.295);
    --color-seven:#f7f3f3;
    --color-eight:#02310c;
    --color-ten:#222121;
}
/******/