/* Import css */
@import "./color.css";
/****/

/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*****/
:root {
    --font-roboto:Roboto;
}

/* Classes gerais */
header {
    width: 100%;
    height:200px;
   
}

.small-size {
    padding:10px 2%;
    background-color:var(--color-seven);
    border-bottom: 1px solid var(--color-five);
}

.container-all {
    margin: 0 auto;
    max-width: 1200px;
}

.wrapper-flex {
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-brand .logo-click .logo-image {
    width: 60px;
    height: 60px;
}

nav.nav-desktop .list-navbar {
 display:flex;
}

nav.nav-desktop .list-navbar li {
   list-style-type:none; 
   padding:0 15px;
}

nav.nav-desktop .list-navbar li a {
    color:var(--color-two);
    font-size:1.1rem;
    font-weight:600;
    font-family:var(--font-roboto);
    text-decoration:none;
    position: relative;
    transition:.5s ease;
}

nav.nav-desktop .list-navbar li a:hover {
    color:var(--color-tree);
}

nav.nav-desktop .list-navbar li a::after {
    content:'';
    width:0%;
    height:5px;
    background-color:var(--color-tree);
    position: absolute;
    bottom:-5px;
    left: 0;
    transition: width 0.5s ease-in-out;

}

nav.nav-desktop .list-navbar li a:hover::after {
    width: 100%;
}

nav.nav-desktop .list-navbar li:first-child a::after {
    width: 100%;
}

nav.nav-desktop .list-navbar li:first-child a {
    color:var(--color-tree);
}

.menu-mobile {
    display:none;
}

.menu-mobile .menu-image {
    width: 37px;
    height:37px;
    margin-top: 10px;
    cursor: pointer;
}

.menu-mobile .nav-mobile ul {
   width: 100%;
   position: absolute;
   top: 57px;
   left:0;
   background-color:var(--color-seven);
   text-align: center;
   overflow: hidden;
   max-height:0;
   opacity:0;
   transition:max-height  1.5s ease, opacity 1.5s ease;
   border-bottom:2px solid var(--color-two);
   z-index: 100;
   
}

.icons-mobile{
    display:none;

.menu-mobile .nav-mobile ul.show-menu {
  max-height:300px;
  opacity:1;
}

.menu-mobile .nav-mobile ul li {
    list-style-type:none;
}


.menu-mobile .nav-mobile ul li a {
    display: block;
    color: var(--color-two);
    text-decoration: none;
    font-size:1.1rem;
    font-weight:600;
    font-family:var(--font-roboto);
    transition: width .5s ease;
    padding:15px 0;
}

.menu-mobile .nav-mobile ul li a:hover {
    color:var(--color-tree);
}

.icons-mobile {
    display: flex;
    align-items: center;
    gap:20px;
}

.icons-mobile i {
    color:var(--color-tree);
    font-size:1.9rem;
    cursor: pointer;
}

section.about-fill {
    height:calc(100% - 200px);
    position: relative;
}

.extras {
    width:1120px;
    height: 930px;
    border-radius:50%;
    position:absolute;
    bottom:-354px;
    right:-600px;
    background-color:var(--color-tree);
}

.social-media {
    position: absolute;
    top:250px;
    right:620px;
}

.compartment-social  {
    width: 60px;
    height:60px;
    position: relative;
    margin-top: 15px;
    border-radius: 50%;
    border: 3px solid var(--color-one);
    transition: .5s ease-in;
}

.compartment-social:hover {
    background-color:var(--color-one);
    cursor: pointer;
}

.link-media .face-size {
    width:14px;
}

.link-media img {
    width:23px;
    display:block;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-87%);
    margin:10px 0;
}

.text-about {
    padding: 0 2%;
    padding-top: 100px;
}

.title-desk {
    font-size:4rem;
    font-family:var(--font-roboto);
}

.details-span {
    color: var(--color-tree);
}

.paragraph-text {
    max-width: 560px;
    margin-top: 10px;
    text-align: justify;
    font-size: 1rem;
    font-family: var(--font-roboto);
    line-height: 23px;
}

.button-page {
    padding:0 2%;
    margin-top:30px;
}

.btn-more {
    padding: 13px 50px;
    color:var(--color-one);
    border:none;
    border-radius:20px;
    background-color:var(--color-tree);
    transition:.5s ease-in;
    cursor: pointer;
}

.btn-more:hover {
 background-color: var(--color-eight);
}


/***/

/* Mobile interface*/
main.main-mobile {
    display: none;
    width: 100%;
    height:100%;
    background-color:var(--color-tree);
}

.title-mobile {
    text-align:center;
    padding-top:130px;
}

.sub-mobile {
    margin-bottom:40px;
}

.btn-mobile {
    color:var(--color-one);
    padding: 10px 30px;
    border:none;
    border-radius:20px;
    background-color:var(--color-two);
    transition: .5s ease-in;
}

.btn-mobile:hover {
    background-color:var(--color-ten);
}

.title-mobile h1 {
    color:var(--color-one);
    font-size:3rem;
    font-family:var(--font-roboto);
    margin-bottom: 30px;
}


/******/
